<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
    }

    iframe {
        width:100%;
        height: 65%;
        border:0px;
    }
</style>
</head>


<body>
    <h1>Covid Stats!</h1><br>
    <!--Create form to get country name -->
    <form method="POST"> <!--POST method will call Python code with the click of the submit button.-->
        <label >Enter a Country Name</label><br><br>
        <input placeholder="Country Name" name="text">
        <input type="submit"> <!--create button to submit-->
    </form>
    <iframe src="{{ image }}"></iframe> <!--Display image using iframe-->


    <p>You have {{ count }} Visitors.</p> <!--display visitors at our web page-->
</body>
</html>
